<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subreddit List</title>
</head>
<body>
    <h1>Subreddits</h1>
        <ul>

            {% for subreddit in subreddits %}

                <li><P>Title: <a href="{% url 'subreddit_detail' subreddit.id %}">{{ subreddit.title }}</a></P></li>
                <li>Description: {{ subreddit.description }}</li>
                <li>Post count: {{ subreddit.post_count }}</li>

            {% endfor %}




        </ul>




</body>
</html>