<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum Detail Page</title>
</head>
<body>
<h1>{{ subreddit.title }}</h1>
<h2>{{ subreddit.description }}</h2>
<h4>Most recent posts:</h4>
    <ul>
        {% for post in posts %}
        <li><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a> {{ post.created_at }}</li>
            {% if post.url %}
                <a href="{{ post.url }}">{{ post.url }}</a>
            {% endif %}
        {% endfor %}

    </ul>
<a href="{% url 'post_create' %}">New Post</a>
</body>
</html>

